<h1>Issues number <small>{{issueNumber()}}</small></h1>
<a routerLink="/" class="cursor-pointer">Regresar</a>

@if(issueQuery.data() === undefined){
<p> CARGANDO ISSUE </p>
}@else {
<issue-comment [issue]="issueQuery.data()!" />
}

<!--Comments-->

<h3 class="mt-10 mb-5">COMENTARIOS</h3>
@if(issueCommentsQuery.data() === undefined){
<p> CARGANDO COMMENTS </p>
}@else {
@for (comment of issueCommentsQuery.data(); track comment.id) {
<issue-comment [issue]="comment" />
}@empty {
<p>NO HAY COMENTARIOS</p>
}
}